html {margin: 5%; background-color: #D3D3D3;}
body {width: 100%; background-color: #ffffff; padding-bottom: 2%; font-family: balthazar; border-radius: 15px 50px}

@font-face{
	font-family: balthazar;
	url: local(web-assets/Balthazar-Regular.woff)
}

.contact, .placeholder-text{
	text-align: center;
}

.placeholder-text{
	padding-top: 2%;
	font-size: x-large;
	font-weight: bold;
}

.contact{
	padding-bottom: 2%;
	font-weight: bolder;
}

.placeholder-img {
	margin: 2% 10% 2% 10%;
	text-align: center;
}

.dropcap {
	font-size: 130%;
}